body{
    background-color: #cfd6e0;
    overflow-x: hidden;
}
.container{
    max-width: 100% !important;
}
.color{
    background-color: #C7C8CC;
}  
.color:hover{
    background-color: #B4B4B8;
    color: white;
}

/*hızlı menü */
  .wrapper{
    width: max-content !important;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    background-color: white;
    width: 330px !important;
    display: none;
    position: absolute;
    top: 110px;
  }
.wrapper.active{
    display:block;
  }
  
  .user{
    width: 150px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 85px;
    flex-wrap: wrap;
  }
  .tittle{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: space-between;
    display: flex;
    margin: 20px 0 20px 0;    
  }
  .main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .link{
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    display: flex;    
    align-items: center;
  }
  .hizlimenu {
    position: absolute;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    text-align: center;
    background-color: white;
}






/*hızlı menü 2*/
.wrapper2{
    border-radius: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-bottom-left-radius: 55px;
    border-top-left-radius: 55px;
    width: 600px;
    right: -555px;
    position: absolute;
    transition-duration: 0.5s;
  } 
.wrapper2.active{
    right: -555px;
  }
  .link2{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    width: 80px;
  }  
  .main2{
    width: 100%;
    display: flex;
    gap: 10px;
  }






/*hızlı menü 3*/
.wrapper3{
    width: max-content !important;
    border-radius: 10px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    background-color: white;
    width: 330px !important;
    display: none;
    margin-top: 65px;
}
.wrapper3.active{
    display:block;
  }
.tittle3{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: space-between;
    display: flex;
    margin: 20px 0 20px 0;    
}
.main3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.user3{
    width: 150px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 85px;
    flex-wrap: wrap;
}
.hizlimenuu {
    position: absolute;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    text-align: center;
    background-color: white;
}
